<table>
  <tr>
    <th />
    <th>Metric</th>
  </tr>
  <tr>
    <td>Portfolio Return</td>
    <td>{{ report.portfolioReturn }}</td>
  </tr>
  <tr>
    <td>Portfolio Volatility</td>
    <td>{{ report.portfolioVolatility }}</td>
  </tr>
  <tr>
    <td>Sharpe Ratio</td>
    <td>{{ report.sharpeRatio }}</td>
  </tr>
</table>
